<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="00cd0190-6c59-4285-9123-5647350e026c"
            Publisher="CN=Developpeur02"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>vBoardJos</DisplayName>
    <PublisherDisplayName>Developpeur02</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="vBoardJos.App">
        <VisualElements
            DisplayName="vBoardJos"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="vBoardJos"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>